In [1]:
import pandas as pd

EN: Are some states trendsetters? That is, the naming pattern they have get adopted by other states?

IN: Apakah beberapa negara bagian menjadi trendsetter? Artinya, pola penamaan yang mereka miliki diadopsi oleh negara bagian lain?

In [6]:
national_names = pd.read_csv("NationalNames.csv", delimiter=";")
print(national_names.head(-5))

  Id,Name,Year,Gender,Count
0        1,Mary,1880,F,7065
1        2,Anna,1880,F,2604
2        3,Emma,1880,F,2003
3   4,Elizabeth,1880,F,1939
4      5,Minnie,1880,F,1746

         Id,Name,Year,Gender,Count
1825428   1825429,Zykeem,2014,M,5
1825429   1825430,Zymeer,2014,M,5
1825430  1825431,Zymiere,2014,M,5
1825431    1825432,Zyran,2014,M,5
1825432    1825433,Zyrin,2014,M,5

In [9]:
state_names = pd.read_csv('StateNames.csv')
print(state_names.head())

   Id      Name  Year Gender State  Count
0   1      Mary  1910      F    AK     14
1   2     Annie  1910      F    AK     12
2   3      Anna  1910      F    AK     10
3   4  Margaret  1910      F    AK      8
4   5     Helen  1910      F    AK      7

In [10]:
state_names['Name'] = state_names['Name'].str.rstrip()

same_names = state_names.groupby('Name')['Name'].count()

trendsetters = same_names[same_names > 1]

adopted_names = state_names.groupby(['Name', 'State'])['Count'].sum().reset_index()
adopted_names = adopted_names.sort_values(by=['Name', 'Count'], ascending=[True, False])

print(trendsetters)
print(adopted_names)

Name
Aaban       2
Aadan       4
Aaden     196
Aadhya     40
Aadi       39
         ...
Zyquan      9
Zyra        7
Zyrah       2
Zyria      14
Zyriah      9
Name: Name, Length: 23751, dtype: int64
            Name State  Count
0          Aaban    NY     12
1          Aadan    CA     18
2          Aadan    TX      5
3        Aadarsh    IL      5
7          Aaden    CA    511
...          ...   ...    ...
284466     Zyria    MS     10
284470    Zyriah    TX     42
284468    Zyriah    GA     10
284469    Zyriah    LA      6
284471  Zyshonne    GA      5

[284472 rows x 3 columns]